<h1>Welcome</h1>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <p class="text-center">Create an accout or login</p>
            <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
            <a href="/users/login" class="btn btn-primary btn-block mb-2">Login</a>
        </div>
    </div>
</div>